/* ############# start global rules  ############# */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 375px) {
  html {
    --stick-top-left: 5.4rem;
    --stick-top-right: -7rem;
    font-size: 13px;
  }
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

:root {
  --color-primary-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;
  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: rgb(158, 152, 179);
  --color-primary: hsl(var(--color-primary-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-sucess: rgb(81, 251, 81);
  --color-danger: rgb(251, 81, 81);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-black: rgb(21, 18, 33);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 1rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --stick-top-left: 5.5rem;
  --stick-top-right: -18rem;
  --transition-time: all 0.3s ease;
}
.profile-image {
  width: 2.7rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
}
.btn {
  padding: var(--btn-padding);
  border-radius: var(--border-radius);
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition-time);
  font-size: 0.9rem;
}
.btn:hover {
  opacity: 0.9;
}
.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
}
.text-bold {
  font-weight: 500;
}
.text-muted {
  color: var(--color-gray);
}
/* ############# end global rules  ############# */

/* ############# start Nav-bar  ############# */
.navigate {
  width: 100%;
  background-color: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}
.navigate .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar {
  background-color: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--border-radius);
}
.search-bar input[type="search"] {
  width: 30vw;
  background-color: transparent;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}
.search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}
.navigate .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* ############# end Nav-bar  ############# */

/* ############# Start main  ############# */
.main {
  position: relative;
  top: 5.5rem;
}
.main .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 2rem;
  position: relative;
}
/* ############# end main  ############# */

/* ############# start left side  ############# */
.left {
  height: max-content;
  position: sticky;
  top: var(--stick-top-left);
  margin-bottom: 0.5rem;
}
.left .profile {
  display: flex;
  border-radius: var(--card-border-radius);
  background: var(--color-white);
  align-items: center;
  width: 100%;
  padding: var(--card-padding);
  column-gap: 1rem;
}
.left .sidebar {
  border-radius: var(--card-border-radius);
  background-color: var(--color-white);
  margin-top: 1rem;
}
.left .sidebar .menu-item {
  align-items: center;
  display: flex;
  height: 4rem;
  transition: var(--transition-time);
  position: relative;
  cursor: pointer;
}
.left .sidebar .menu-item:hover {
  background-color: var(--color-light);
}
.left .sidebar i {
  font-size: 1.4rem;
  color: var(--color-gray);
  position: relative;
  margin-left: 2rem;
}

.left .sidebar i .notifications-count {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
  color: white;
  width: fit-content;
  border-radius: 0.8rem;
  background: var(--color-danger);
  top: -9px;
  left: -9px;
  position: absolute;
}

.left .sidebar h3 {
  font-size: 1rem;
  margin-left: 1.5rem;
}
.left .sidebar .active {
  background: var(--color-light);
}
.left .sidebar .active::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.4rem;
  background-color: var(--color-primary);
}
.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.left .sidebar .menu-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}
.left .btn {
  margin-top: 1rem;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}
/* ############# Start Notification Popup  ############# */
.left .notifications-popup {
  position: absolute;
  top: 0;
  left: 110%;
  width: 30rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
  z-index: 9;
  display: none;
}
.left .notifications-popup::before {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  width: 1.2rem;
  left: -0.6rem;
  top: 24px;
  transform: rotate(46deg);
  height: 1.2rem;
}
.left .notifications-popup > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.left .notifications-popup small {
  display: block;
  margin-top: 4px;
}
/* ############# end Notification Popup  ############# */
/* ############# end left side  ############# */

/* ############# start middle side  ############# */
/* ############# start stories ############# */
.middle .stories {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  gap: 0.5rem;
}
.middle .stories .story {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  width: 100%;
  font-size: 0.75rem;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--color-primary);
}
.middle .stories .story::before {
  content: "";
  position: absolute;
  width: 100%;
  background: linear-gradient(transparent, rgba(19, 7, 7, 0.75));
  height: 5rem;
  bottom: 0;
}
.middle .stories .story .name {
  z-index: 2;
}
.middle .stories .story:first-child {
  background: url(../images/story1.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(2) {
  background: url(../images/story2.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(3) {
  background: url(../images/story3.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(4) {
  background: url(../images/story4.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(5) {
  background: url(../images/story-5.jpg) no-repeat center center/cover;
}
.middle .stories .story:last-child {
  background: url(../images/story-6.jpg) no-repeat center center/cover;
}
.middle .stories .story .profile-image {
  width: 2rem;
  height: 2rem;
  align-self: flex-start;
  border: 3px solid var(--color-primary);
}
/* ############# End stories ############# */
/* ############# Start Create Post  ############# */
.middle .create-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
}
.middle .create-post input[type="text"] {
  padding-left: 1rem;
  margin-right: 1rem;
  color: var(--color-dark);
  width: 100%;
  background: transparent;
}
/* ############# End Create Post  ############# */
/* ############# start Posts  ############# */
.middle .posts .post {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 0.85rem;
}
.middle .post .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle .post .head .user {
  display: flex;
  gap: 1rem;
}
.middle .post .photo {
  border-radius: var(--card-border-radius);
  margin: 0.7rem 0;
  overflow: hidden;
}
.middle .post .action-bottons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.6rem;
}
.middle .post .like-by {
  display: flex;
}
.middle .post .like-by span {
  overflow: hidden;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-left: -0.6rem;
  border: 2px solid var(--color-white);
  display: block;
}
.middle .post .like-by p {
  margin-left: 0.5rem;
}
/* ############# End  Posts  ############# */
/* ############# end middle side  ############# */

/* ############# Start Right  ############# */
.right {
  position: sticky;
  height: max-content;
  top: var(--stick-top-right);
  bottom: 0;
}
/* ### Start messages  ### */
.right .messages {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}
.right .messages .head {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.right .messages .search-bar i {
  font-size: 1.4rem;
}
.right .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}
.right .messages .search-bar input[type="search"] {
  width: 100%;
}
.right .messages .catogery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.right .messages .catogery h6 {
  width: 100%;
  font-size: 0.85rem;
  border-bottom: 3px solid var(--color-light);
  padding-bottom: 0.5rem;
  text-align: center;
}
.right .messages .catogery .active {
  border-color: var(--color-dark);
}
.right .messages .catogery .message-requests {
  color: var(--color-primary);
  cursor: pointer;
}
.right .messages .message {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.right .messages .message:last-child {
  margin: 0;
}
.right .messages .message p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
.right .messages .message .profile-image.active,
.right .messages .message .profile-image.active {
  position: relative;
  overflow: visible;
}
.right .messages .message .profile-image.active img,
.right .messages .message .profile-image.active img {
  border-radius: 50%;
}
.right .messages .message .profile-image.active::after,
.right .messages .message .profile-image.active::after {
  content: "";
  width: 0.9rem;
  position: absolute;
  height: 0.9rem;
  background-color: var(--color-sucess);
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid var(--color-white);
}
/* ## End messages  ##*/
/* ## Start Frinds-Reqests  ## */
.right .frinds-request {
  margin-top: 1rem;
}
.right .frinds-request h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}
.right .frinds-request .request {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}
.right .request .info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.right .request .action {
  display: flex;
  gap: 1rem;
}
/* ## End Frinds-Reqests  ## */
/* ############# end Right  ############# */

/* ############# Start Theme Custmization  ############# */
.customize-theme {
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background: rgb(255 255 255 / 50%);
  display: grid;
  place-content: center;
  font-size: 0.9rem;
  /* if you write it in the first will not work as the grid prevent it's work */
  display: none;
}
.customize-theme .card {
  width: 50%;
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 0 0 1rem var(--color-primary);
}
/* ## Start Font-Size  ## */
.customize-theme .font-size {
  margin-top: 5rem;
}
.customize-theme .font-size > div {
  justify-content: space-between;
  background: var(--color-light);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: var(--search-padding);
  font-size: 1.5rem;
}
.customize-theme .font-size .choose-size {
  justify-content: space-between;
  margin: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: 0.4rem;
  background: var(--color-secondary);
}
.customize-theme .font-size .choose-size span.active {
  background-color: var(--color-primary);
}
.customize-theme .font-size .choose-size span {
  background-color: var(--color-secondary);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
/* ## End Font-Size  ## */
/* ## strat Color  ## */
.customize-theme .color {
  margin-top: 1rem;
}
.font-size h4,
.color h4,
.background h4 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
.customize-theme .color .choose-color {
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  background: var(--color-light);
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.customize-theme .choose-color span {
  /* background-color: var(--color-secondary); */
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.customize-theme .choose-color span.active {
  border: 4px solid white;
}
.customize-theme .choose-color span:nth-child(1) {
  background: hsl(252, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(2) {
  background: hsl(452, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(3) {
  background: hsl(352, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(4) {
  background: hsl(152, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(5) {
  background: hsl(202, 75%, 60%);
}
/* ## End Color  ## */
/* ## Start Background light  ## */
.customize-theme .background {
  margin-top: 2.5rem;
}
.customize-theme .background .choose-bg {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 1.5rem;
}
@media (max-width: 500px) {
  .customize-theme .background .choose-bg {
    flex-wrap: wrap;
  }
}
.customize-theme .background .choose-bg > div {
  font-weight: bold;
  padding: var(--card-padding);
  border-radius: 0.4rem;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.customize-theme .background .choose-bg > div span {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
  margin-right: 1rem;
}
.customize-theme .background .choose-bg > div.active {
  border: 3px solid var(--color-primary);
}
.customize-theme .background .choose-bg .bg-1 {
  background: white;
  color: black;
}
.customize-theme .background .choose-bg .bg-2 {
  background: hsl(252, 30%, 17%);
  color: white;
}
.customize-theme .background .choose-bg .bg-3 {
  background: hsl(252, 30%, 10%);
  color: white;
}
/* ## End Background light  ## */
/* ############# end Theme Custmization  ############# */
/* ########################################################### */
/* ########### Media Quaries for  small labtop and Big tablets */
/* ########################################################### */
@media (max-width: 1200px) {
  .container {
    width: 96%;
  }
  .main .container {
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }
  .left {
    width: 5rem;
    z-index: 5;
  }
  .left .profile {
    display: none;
  }
  .sidebar h3 {
    display: none;
  }
  .left .btn {
    display: none;
  }
  .customize-theme .card {
    width: 80vw;
  }
}
/* Media Quaries for  small tablets and mopile phone */
@media (max-width: 992px) {
  nav .search-bar {
    display: none;
  }
  .main .container {
    grid-template-columns: 0 auto 5rem;
    gap: 0;
  }
  .main .container .left {
    position: fixed;
    grid-column: 3/4;
    right: 0;
    bottom: 0;
  }
  /* ''''Notification Popup''' */
  .left .notifications-popup {
    position: absolute;
    width: 20rem;
    left: -21rem;
  }
  .left .notifications-popup::before {
    display: block;
    top: 1.3rem;
    left: calc(20rem - 0.6rem);
  }
  .main .container .middle {
    grid-column: 1/3;
  }
  .main .container .right {
    display: none;
  }
  .customize-theme .card {
    width: 92vw;
  }
}
